* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
}

.navbar {
    background-color: #111;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    padding: 1rem;
}

.navbar li a {
    padding: 2px 2px;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    color: gray;
}

.logo {
    height: 45px;
    width: 90px;
}

.logo img {
    width: 100%;
}

.right-section {
    display: flex;
    flex-direction: row;
}

.search-icon {
    width: 45px;
    height: 45px;
}

.notification-icon {
    width: 45px;
    height: 45px;
}

.profile__picture {
    display: flex;
    width: 45px;
    height: 45px;
}


/* banner */

.banner {
    background-image: url("main-img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 440px;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 190px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 0.3rem;
    padding-bottom: 0.3rem;
}

.banner_btn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner_play_btn {
    width: 13px;
    height: 13px;
    background-color: transparent;
}

.banner_btn button {
    width: 60px;
    height: 30px;
    color: #111;
    background-color: white;
    border-radius: 2px;
    border: 1px solid transparent;
}

.banner_btn button:hover {
    background-color: rgb(171,163,163);
    cursor: pointer;
}

.banner_description {
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 17px;
}

/* row */
.row {
    color: white;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: row;
    padding: 20px;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 30px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_posterLarge {
    margin-right: 10px;
    max-height: 300px;
}

#footer {
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
